In [2]:

import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))
df = pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.411681  0.439604  0.607290  0.431594
1  0.509097  0.768069  0.888010  0.613839
2  0.006762  0.912844  0.659290  0.485455
3  0.029460  0.425639  0.766557  0.988630

In [4]:
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.411681        0.439604        0.607290        0.431594
1        0.509097        0.768069        0.888010        0.613839
2        0.006762        0.912844        0.659290        0.485455
3        0.029460        0.425639        0.766557        0.988630

In [5]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.239250        0.636539        0.730287        0.629879
std          0.258594        0.242835        0.124313        0.251087
min          0.006762        0.425639        0.607290        0.431594
25%          0.023786        0.436113        0.646290        0.471990
50%          0.220571        0.603837        0.712923        0.549647
75%          0.436035        0.804263        0.796920        0.707536
max          0.509097        0.912844        0.888010        0.988630

In [6]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 260.0 bytes

In [8]:
df.loc[:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.439604        0.607290
1        0.768069        0.888010
2        0.912844        0.659290
3        0.425639        0.766557

In [9]:
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.439604        0.607290
1        0.768069        0.888010
2        0.912844        0.659290
3        0.425639        0.766557