In [5]:
# Assingment 2
# Nimish Sarathe 20BCE10881

import numpy as np
import pandas as pd
df = pd.read_csv('drug200.csv')  
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [7]:
x = df.iloc[:,0:5]
x.head(2)

   Age Sex    BP Cholesterol  Na_to_K
0   23   F  HIGH        HIGH   25.355
1   47   M   LOW        HIGH   13.093

In [8]:
y = df.iloc[:,5:]
print(df['Drug'].unique())

['DrugY' 'drugC' 'drugX' 'drugA' 'drugB']

In [12]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=21)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

In [ ]:
ytrain.head()

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
xtrain['BP'] = le.fit_transform(xtrain['BP'])
xtest['BP'] = le.transform(xtest['BP'])
xtrain['Sex'] = le.fit_transform(xtrain['Sex'])
xtest['Sex'] = le.transform(xtest['Sex'])
xtrain['Cholesterol'] = le.fit_transform(xtrain['Cholesterol'])
xtest['Cholesterol'] = le.transform(xtest['Cholesterol'])

ytrain['Drug'] = le.fit_transform(ytrain['Drug'])
ytest['Drug'] = le.transform(ytest['Drug'])

xtrain.head()

In [ ]:
xtest.head()

In [ ]:
ytrain.info()

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
# # Initializing the seq model
# reg_model = Sequential()
# # Adding the input layer to the model
# reg_model.add(Dense(4,activation='relu'))
# # Adding the 1st hidden layer to the model
# reg_model.add(Dense(64,activation='relu'))
# # Adding the 2nd hidden layer to the model
# reg_model.add(Dense(32,activation='relu'))
# # Adding output layer
# reg_model.add(Dense(1,activation='linear'))
model = Sequential()
# model.add(layers.Flatten(input_shape=()))
model.add(Dense(5,activation='relu'))
model.add(Dense(22,activation='relu'))
model.add(Dense(34,activation='relu'))
model.add(Dense(22,activation='relu'))
model.add(Dense(1,activation='linear'))

In [ ]:
# reg_model.compile(optimizer='adam',loss='mse')
model.compile(optimizer='adam',loss='mse')

In [ ]:
model.fit(xtrain,ytrain,batch_size=6,epochs=40)

In [ ]:
result = model.predict(xtest)

In [ ]:
comp = pd.DataFrame(ytest)  # Creating a dataframe
comp.columns = ['Actual Value']  # Changing the column name

result = np.rint(ypred).astype(int) # Creating a column based onth prediction
# result = le.inverse_transform(result)
comp['Predicted values'] = result
# print(comp['Predicted values'].unique())
comp