In [4]:
# Nimish Sarathe 20BCE10881
# Assingment 1
import pandas as pd
import numpy as np

In [5]:
s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))
df = pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.762189  0.439139  0.079512  0.324647
1  0.976014  0.251389  0.051465  0.482354
2  0.723260  0.103765  0.904919  0.274611
3  0.922969  0.865749  0.304570  0.241792

In [6]:
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.762189        0.439139        0.079512        0.324647
1        0.976014        0.251389        0.051465        0.482354
2        0.723260        0.103765        0.904919        0.274611
3        0.922969        0.865749        0.304570        0.241792

In [7]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.846108        0.415010        0.335116        0.330851
std          0.122362        0.330350        0.396400        0.106593
min          0.723260        0.103765        0.051465        0.241792
25%          0.752457        0.214483        0.072500        0.266406
50%          0.842579        0.345264        0.192041        0.299629
75%          0.936230        0.545791        0.454657        0.364074
max          0.976014        0.865749        0.904919        0.482354

In [8]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 260.0 bytes

In [10]:
df.loc[:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.439139        0.079512
1        0.251389        0.051465
2        0.103765        0.904919
3        0.865749        0.304570

In [11]:
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.439139        0.079512
1        0.251389        0.051465
2        0.103765        0.904919
3        0.865749        0.304570